import React from 'react'
import styles from './index.less'

export interface I${upperName}Props {
  [key: string]: any;
}

const ${upperName}: React.FC<I${upperName}Props> = props => {
  const { } = props;
  return (
    <div className={styles.${name}}>
      
    </div>
  );
};

export default ${upperName};